.img{
    background-image: url(../../../assets/images/Signup-rafiki.svg);
    background-size: cover contain;
   background-repeat: no-repeat;
   height: 100vh;
    // width: 100%;
  
}
a{
    color: #E91E63;
}
