<section class="min-vh-100 pt-5">
    <div class="container">
        <div class="row rounded g-3 shadow-lg d-flex justify-content-center align-items-center">
            <div class="col-md-6 img rounded">

            </div>
            <div class="col-md-4">
                <form class="example-form" [formGroup]="loginForm" (ngSubmit)="login()">
                  
                    <mat-form-field class="w-100 my-2" appearance="outline">
                 
                         <mat-label>Email</mat-label>
                          <input matInput type="email" placeholder="Ex. pat@example.com" formControlName="email">
                    <mat-error *ngIf="(loginForm.get('email')?.hasError('email'))">Please enter a valid email address</mat-error>        
                      <mat-error *ngIf="(loginForm.get('email')?.hasError('required'))">Email is <strong>required</strong></mat-error> 
                  
                    </mat-form-field>
                    <mat-form-field class="w-100 my-2" appearance="outline">
                        
                            <mat-label>password</mat-label>
                            <input matInput [type]="hide ? 'password' : 'text'" placeholder="Enter your password" formControlName="password">
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                    </mat-form-field>
                    <button [disabled]="!loginForm.valid" mat-flat-button color="primary">login</button>
                    
                    <p>you don't have account ? <a class="text-decoration-none" [routerLink]="['../register']">register</a></p>
                </form>
            </div>
        </div>
    </div>
</section>