.img{
    background-image: url(../../../assets/images/Login-rafiki.svg);
    background-size: cover contain;
    background-repeat: no-repeat;
   height: 100vh;
    // width: 50%;
  
}
a{
    color: #E91E63;
}
